name: Deploy
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Run Web App
    runs-on: ubuntu-latest
    steps:
      - name: Build Web App
        run: |
          echo "Build Web App"
          sleep 10s
      - uses: rogeruiz22/trigger-workflow-and-wait@v1.3.0
        with:
          owner: rogeruiz
          repo: demo-backend
          github_token: ${{ secrets.G_ACCESS_TOKEN }}
          worflow_file_name: master.yml
          ref: master
      - name: Deploy Web App
        run: |
          echo "Deploy Web App"
          sleep 10s
